{% extends "header.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}Edit Food Item{{ food_item.id }}{% endblock %}
{% block container %}
    <div class="page-header">
        <h1>Edit {{ food_item.name }}</h1>
    </div>
    <div class="row">
        <form action="{{ url_for('edit_food_item', 
        food_group_id = food_group_id, 
        difficulty = difficulty, 
        food_item_id = food_item.id) }}"
        method="POST">
            Name:
            <br>
            <input 
            type="text" 
            name="name" 
            placeholder="{{ food_item.name }}">
            <br>
            Description:
            <br>
            <input 
            type="text" 
            name="description"
            placeholder="{{ food_item.description }}">
            <br>
            Recipe:
            <br>
            <input 
            type="text" 
            name="recipe"
            placeholder="{{ food_item.recipe }}">
            <br>
            <input type="submit" value="Submit" class="btn btn-success" style="margin-top: 10px;">
            <a href="{{ url_for('show_food_item', 
            food_group_id = food_group_id, 
            difficulty = difficulty, 
            food_item_id = food_item.id) }}"
            class="btn btn-danger"
            style="margin-top: 10px;">
                <span>Cancel</span>
            </a>
        </form>
    </div>
{% endblock %}